@model Munipocollay_InformesTecnicos.Models.Estados

@{
    ViewBag.Title = "AgregarEditar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--Pesstañas-->
<nav class="breadcrumb">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
        <li class="breadcrumb-item"><a href="~/Estados/Index">Estado</a></li>
        <li class="breadcrumb-item active">@(Model.EstadoID > 0 ?  Model.Nombre_Estado : "Agregar Estado")</li>
    </ol>
</nav>


<div class="card shadow-none border my-4" data-component-card="data-component-card">
    <div class="card-header p-4 border-bottom bg-body">
        <center><h2>AGREGAR NUEVO ESTADO</h2></center>
    </div>


    <div class="card-body p-4">


        @using (Html.BeginForm("Guardar", "Estados", FormMethod.Post, new { @class = "row gx-1 gy-2 needs-validation", novalidate = "novalidate" }))
        {
            <div class="mb-1">
                @Html.Label("ID Estado:", new { @class = "form-label mb-0" })
                @Html.TextBoxFor(x => x.EstadoID, new { @class = "form-control", id = "idArea", placeholder = "ID", @readonly = "readonly" })
            </div>
            <div class="mb-1">
                @Html.Label("Nombre de Estado:", new { @class = "form-label mb-0" })
                @Html.TextBoxFor(x => x.Nombre_Estado, new { @class = "form-control", id = "nombreArea", placeholder = "Nombre de Estado", required = "required" })
                <div class="invalid-feedback">
                    Campo obligatorio*
                </div>
            </div>

            <div class="mb-1">
                @Html.Label("Descripción de Estado:", new { @class = "form-label mb-0" })
                @Html.TextBoxFor(x => x.Descripcion_Estado, new { @class = "form-control", id = "descripcionArea", placeholder = "Descripción del Estado" })
            </div>
            <div>
                <br />
                <button class="btn btn-phoenix-primary me-1 mb-1" type="submit">Guardar</button>
                <button class="btn btn-phoenix-danger me-1 mb-1" type="button" onclick="window.location.href='/Estados/Index'">Cancelar</button>
            </div>
        }


    </div>
</div>